html {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #24292e;
}

.breadcrumbs {
  font-size: 1.25em;
  padding: 2.5em;
  padding-bottom: 0;
}

.breadcrumbs > a {
  color: #0366d6;
  text-decoration: none;
}

.breadcrumbs > a:hover {
  text-decoration: underline;
}

/* final breadcrumb */
.breadcrumbs > b {
  color: #24292e;
}

.breadcrumbs > .separator {
  color: #586069;
}

ul {
  font-size: 16;
  padding: 0 2.5em;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  list-style: none;
  width: 200px;
  padding: 1em;
}

li div {
  width: 1.5em;
}

li svg, .breadcrumbs svg {
  height: 100%;
  fill: rgba(3,47,98,0.5);
  padding-right: 0.5em;
}

.breadcrumbs svg {
  padding-left: 0.5em;
}

li a {
  color: #0366d6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
